<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true" xmlns="proxy.xsd">
    <serverUrls>
        <!-- Autoriser uniquement des urls précises, ne pas tout autoriser -->
        <!--<serverUrl url="https://" matchAll="true"/>-->
    </serverUrls>
</ProxyConfig>

